#Exercise 1: Create a Jupyter Notebook called DataScienceEcosystem.ipynb

#Exercise 2: Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

#Exercise 3: Write an introductory sentence about the notebook such as the follows:

In this notebook, Data Science Tools and Ecosystem are summarized.

#Exercise 10: Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered.
#In this new cell start with an introductory line titled: Objectives: in bold font.
#Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

**Objectives**
- Languages for Data Science
- Libraries for Data Science
- Data Science Tools
- Running basic arithmetic

#Exercise 4: Start the cell with an overview line and then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.

**Some of the popular languages that Data Scientists use are:**

1. R
2. Python
3. SQL

#Exercise 5: Add an overview line to the cell and below this line add an ordered list listing 3 (or more) commonly used libraries in data science.

**Some of the commonly used libraries used by Data Scientists include:**
    
    1. ggplot2
    2. Pandas
    3. Matplotlib

#Exercise 6: Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science.

|Data Science Tools |
---------------------
|RStudio |
|Jupyter Notebook |
|Apache Spark |

#Exercise 7:  Create a markdown cell introducing arithmetic expression examples and add a line in this cell with H3 style heading.

### Below are a few examples of evaluating arithmetic expressions in Python:

1. print(3 + 7)
2. print(2*7)
3. print(12/4)

In [3]:
#Exercise 8: Create a code cell to multiply and add numbers to evaluate (3*4)+5. With an explanatory comment line.

#Comment line: This operation multiplies and then adds an integer.
print((3*4)+5)

17

In [4]:
#Exercise 9: In this code cell write an expression that converts 200 minutes into hours.
#Insert a comment line before the expression to explain the operation e.g.  This will convert 200 minutes to hours by diving by 60.
#Run the cell to evaluate the expression.

#Comment line: This operation gives the amount of hours as a fraction for 200 minutes
print(200/60)

3.3333333333333335

#Exercise 11: In this markdown cell markdown cell include the following text Author in H2 style heading.
#Include your name as regular text below the word Author.

## Author
Walther Glodstaf